<html>
  <head>
    <title>ng-jeopardy</title>
    <!-- link tags for css -->
    <link rel="stylesheet" type="text/css" href="client/lib/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="client/styles/style.css">
  </head>
  <body ng-app="ng-jeopardy" ng-controller="JeopardyCardController">
    <div class="container">  
      <div class="row">
        <jeopardy-card ng-repeat="card in title" class="col-md-2"></jeopardy-card>
      </div>
      
      <div class="row">
        <jeopardy-card ng-repeat="stuff in data">{{stuff.question}}</jeopardy-card>
      </div>
    </div>
  <!-- App Dependencies -->
  <script src="client/lib/angular/angular.js"></script>



  <!-- Dev Dependencies -->
  <script src="client/app/app.js"></script>
  <script type="text/ng-template" id="jeopardyCard.html">
    <div class="card" ng-click="showAnswer()">
      <div class="front">
        <p class="worth">{{card || stuff.worth}} </p>
      </div>
      <div class="back">
        <a>Answer</a>
      </div>
    </div>
  </script>
  </body>
</html>